<div class="jumbotron">
    <h1 class="display-4">Who we are?</h1>
    <p class="lead text-center">
        Crescent Technologies (CT) is an independent healthcare technology and innovation consultancy firm.
        We provide total and creative solutions to our clients, mainly in the healthcare and medical industry.
        Our consultations cover a broad spectrum of activities ranging from asset management to enterprise resource
        planning.
        Our experts will assist you in a number of strategic and operational management issues ranging from the
        evaluation of repair and maintenance jobs performed in your hospital,
        to restructuring your organizational processes and adding value to your supply chain system, to planning future
        expansions of your business.
        Whatever your Management and technology needs are, we are there to give you full support.
    </p>
    <hr class="my-4">
    <h1 class="display-4 text-center">Mission & vision</h1>
    <div class="row justify-content-around">
        <div class="col-4">
            <p class="lead">• Mission</p>
            <p class="lead">Supplying operational and strategic management consultancy,
                providing technology and innovation solutions and studies,
                and delivering training services that meet the needs of the healthcare industry throughout its whole
                supply
                chain.
                This is to be achieved by a customer-centric attitude, coupled with the use and implementation of state
                of the
                art technologies,
                while making an efficient use of our front and back-office resources.</p>
        </div>
        <div class="col-2">
            <p class="lead">• Vision</p>
            <p class="lead"> To become one of the top-ranking consulting firms in the healthcare field in the Middle East & North
                Africa
                (MENA) region.</p>
        </div>
    </div>

    <hr class="my-4">
    <h1 class="display-4 text-left">Values self-driven</h1>

    <div class="row justify-content-between">
        <div class="col-3">
            <p class="lead">• Integrity</p>
            <p class="lead">Establishing and maintaining the highest standards of professional performance and ethical practice.</p>
        </div>
        <div class="col-2">
            <p class="lead">• Customer-Centric</p>
            <p class="lead">Delivering professional work to the best of our abilities within the time frame and budget agreed on with
                our clients.</p>
        </div>
        <div class="col-3">
            <p class="lead">• Innovation</p>
            <p class="lead">Continuously seeking innovative concepts and new ways of applying our expertise to all dimensions of our
                work.</p>
        </div>
        <div class="col-2">
            <p class="lead">• Team Work</p>
            <p class="lead">Engaging a global team of talented professionals to handle the most challenging projects,
                while encouraging new ideas and cultural diversity.</p>
        </div>
        <div class="col-2">
            <p class="lead">• Agility</p>
            <p class="lead">Anticipating change and acknowledging the importance of flexibility.
                We adapt to the evolving needs and regulations of every country we operate in to best assist clients.
            </p>
        </div>
    </div>
</div>