<div class="jumbotron">
    <h1 class="display-4">Crescent Technologies Company (Medical planner).</h1>
    <p class="lead">If you can think differently? If you enjoy working? Then we are here to welcome you.</p>
    <hr class="my-4">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-2">
                <p class="lead">• We Innovate</p>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-4">
                    <img src="../../assets/images/jumbotron.jpg" alt="">
                </div>
            </div>
            <div class="col-2">
                <p class="lead">• We Design</p>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-2">
                <p class="lead">• We Supervise</p>
            </div>
            <div class="col-2">
                <p class="lead">• We Manage</p>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="show == true">
        <div class="container">
            <p class="lead text-center">
                Crescent Technologies (CT)
            </p>
            <p class="text-center">
                Values self-driven,
                disciplined and committed individuals with high level of personal integrity and socially responsible
                outlook
                towards life.
                People at Crescent Technologies are its greatest asset. We at Crescent Technologies,
                Strive to provide an environment that encourages innovation and provides Opportunity to grow to one's
                fullest
                potential.
            </p>
        </div>

        <div class="container">
            <p class="lead text-center">
                Crescent Technologies (CT)
            </p>
            <p class="text-center">
                Is an independent healthcare technology and innovation consultancy firm.
                We provide total and creative solutions to our clients, mainly in the healthcare and medical industry.
                Our consultations cover a broad spectrum of activities ranging from asset management to enterprise
                resource
                planning.

                Our experts will assist you in a number of strategic and operational management issues ranging from the
                evaluation of repair and maintenance jobs performed in your hospital or factory, to restructuring your
                organizational processes and adding value to your supply chain system, to planning future expansions of
                your
                business. Whatever your management and technology needs are, we are there to give you full support.
            </p>
        </div>
    </div>
    
    <button class="btn btn-danger float-right" (click)="showtext()" >Learn More</button>
</div>